<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/master-layout :: layout(~{::main})}">

<body>
    <main role="main">
        <div class="container mt-5">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <h3>Employee Form</h3>
                        </div>
                        <div class="card-body">
                            <form th:action="@{/save-employee}" method="post" th:object="${employee}">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label class="form-label">First Name</label>
                                            <input class="form-control" type="text" name="firstName" th:field="*{firstName}"
                                                   th:classappend="${#fields.hasErrors('firstName')} ? 'is-invalid'">
                                            <small class="invalid-feedback"
                                                   th:if="${#fields.hasErrors('firstName')}"
                                                   th:errors="*{firstName}"></small>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label class="form-label">Last Name</label>
                                            <input class="form-control" type="text" name="lastName" th:field="*{lastName}"
                                                    th:classappend="${#fields.hasErrors('lastName')} ? 'is-invalid'">
                                            <small class="invalid-feedback"
                                                   th:if="${#fields.hasErrors('lastName')}"
                                                   th:errors="*{lastName}"></small>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="mb-3">
                                            <label class="form-label">Phone Number</label>
                                            <input class="form-control" type="text" name="phone" th:field="*{phoneNumber}"
                                                    th:classappend="${#fields.hasErrors('phoneNumber')} ? 'is-invalid'">
                                            <small class="invalid-feedback"
                                                   th:if="${#fields.hasErrors('phoneNumber')}"
                                                   th:errors="*{phoneNumber}"></small>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="mb-3">
                                            <label class="form-label">Cubicle Number</label>
                                            <input class="form-control" type="text" th:field="*{cubicleNo}"
                                                   th:classappend="${#fields.hasErrors('cubicleNo')} ? 'is-invalid'">
                                            <small class="invalid-feedback"
                                                   th:if="${#fields.hasErrors('cubicleNo')}"
                                                   th:errors="*{cubicleNo}"></small>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="mb-3">
                                            <label class="form-label">Address</label>
                                            <input class="form-control" type="text" th:field="*{address}"
                                                   th:classappend="${#fields.hasErrors('address')} ? 'is-invalid'">
                                            <small class="invalid-feedback"
                                                   th:if="${#fields.hasErrors('address')}"
                                                   th:errors="*{address}"></small>
                                        </div>
                                    </div>
                                </div>
                                <input type="submit" value="Save Employee" class="btn btn-primary w-100">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>